<!doctype html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{templateFragments :: headPaginasPublicas('Listado de clases')} "></head>
<body>
<header th:replace="~{templateFragments :: headerPaginasPublicas}"></header>
<main>
    <h1>Listado de clases</h1>
    <ul th:remove="all-but-first">
        <li th:each="class : ${classes}"
            th:text="|${class.getName()}|">
            Profesor 1
        </li>
        <li>Profesor 2</li>
        <li>Profesor 3</li>
        <li>Profesor 4</li>
        <li>Profesor 5</li>
    </ul>
    <p th:text="${elementoComunATodosLosControladores}"></p>
</main>
<footer th:replace="~{templateFragments :: piePaginasPublicas}"></footer>
</body>
</html>