<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head(|Listado de productos de la categoría ${category.id}|)}">
    <title>Ejemplos Spring Boot</title>
</head>
<body>
<div class="container">

    <header th:replace="~{fragments/fragments :: header}"></header>
    <div class="container">

        <h2 th:text="|Listado de productos de la categoría ${category.id}|">Listado de productos de la categoría </h2>

        <p>Esta página simula el listado de productos de una categoría</p>
        <p>Desde aquí, en cada producto, vamos a llamar a métodos de controlador que volverán a esta misma página usando
            redirección.</p>
        <p>En la consola del entorno de desarrollo se verán trazas indicando las operaciones realizadas en los métodos
            de
            controlador</p>
        <p>Por cada producto habrá varias opciones:</p>
        <ul>
            <li>Usando un método específico, para tratar las peticiones de añadir producto desde el detalle</li>
            <li>Usando un método que recibe un parámetro @RequestParam para indicar con un código desde donde se hace la
                petición. En este caso, como estamos haciendo la llamada desde el listado de productos por categoría,
                será
                necesario pasar el ID de categoría para poder redirigir
            </li>
            <li>Usando un método que recibe un parámetro @RequestParam para indicar con la url desde la que se hace la
                petición. En este caso, no es necesario añadir parámetros porque ya estarán en la URL de origen.
            </li>
        </ul>
        <h2>Listado de productos:</h2>
        <ul>
            <li th:each="product : ${products}">
                <p th:text="${product.name}">Producto</p>
                <p>Enlaces para añadir:</p>
                <ul>
                    <li>Método específico:
                        <a th:href="@{/redirects/add-to-cart/from-product-detail/{productId}/{categoryId}(productId=${product.id}, categoryId=${category.id})}"
                           th:text="@{/redirects/add-to-cart/from-product-detail/{productId}/{categoryId}(productId=${product.id}, categoryId=${category.id})}"></a>
                    </li>
                    <li>Método con un código:
                        <a th:href="@{/redirects/add-to-cart/{productId}(productId=${product.id}, from='CL', categoryId=${category.id})}"
                           th:text="@{/redirects/add-to-cart/from-product-detail/{productId}(productId=${product.id}, from='CL', categoryId=${category.id})}"></a>
                    </li>
                    <li>Método con return-url:
                        <a th:href="@{/redirects/add-to-cart/{productId}(productId=${product.id}, returnurl=${currentUrl})}"
                           th:text="@{/redirects/add-to-cart/{productId}(productId=${product.id}, returnurl=${currentUrl})}"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
