<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head('Ejemplos Spring Boot')}">
    <title>Ejemplos Spring Boot</title>
</head>
<body>
<div class="container">

    <header th:replace="~{fragments/fragments :: header}"></header>
    <div class="container">

        <h2>Ejemplos relacionados con mappings</h2>
        <ul>
            <li><a th:href="@{/mappings-01-restricciones}">Ejemplos de restricciones en mappings. Por cabecera, por
                expresión regular, etc.</a></li>
            <li><a th:href="@{/mappings-02-wildcards}">Ejemplos de uso de comodines (wildcards) en rutas. Uso de *, **,
                y {*variable}</a></li>
        </ul>
        <h2>Ejemplos relacionados con redirecciones</h2>
        <ul>
            <li>
                <a th:href="@{/redirects}">Ejemplos de redirecciones usando "redirect:"</a>
            </li>
            <li>
                <a th:href="@{/redirects/flash-attributes/start}">Ejemplos de uso de "flash attributes" cuando se usa
                    "redirect"</a>
            </li>

        </ul>
        <h2>Ejemplos relacionados con formularios</h2>
        <ul>
            <li>
                <a th:href="@{/forms/basic}">Ejemplo de formulario básico con campos de texto, sin usar th:object.</a>
            </li>
            <li>
                <a th:href="@{/forms/simple}">Ejemplo de formulario con campos de texto. Inicialmente vacío.</a></li>
            <li>
                <a th:href="@{/forms/simple/con-datos}">Ejemplo de formulario con campos de texto. Con valores
                    iniciales.</a></li>
            <li>
                <a th:href="@{/forms/select}">Ejemplo de formulario con campos de texto y un select. Inicialmente
                    vacío.</a></li>
            <li>
                <a th:href="@{/forms/select/con-datos}">Ejemplo de formulario con campos de texto y un select. Con
                    valores iniciales.</a></li>
            <li>
                <a th:href="@{/forms/radio}">Ejemplo de formulario con campos de texto y radio buttons. Inicialmente
                    vacío.</a></li>
            <li>
                <a th:href="@{/forms/radio/con-datos}">Ejemplo de formulario con campos de texto y radio buttons. Con
                    valores iniciales.</a></li>
            <li>
                <a th:href="@{/forms/checkbox}">Ejemplo de formulario con campos de texto y checkboxes. Inicialmente
                    vacío.</a></li>
            <li>
                <a th:href="@{/forms/checkbox/con-datos}">Ejemplo de formulario con campos de texto y checkboxes. Con
                    valores iniciales.</a></li>
            <li>
                <a th:href="@{/forms/date-time}">Ejemplo de formulario con campos de texto y fechas, horas, y
                    fechas/horas.
                    Inicialmente vacío.</a></li>
            <li>
                <a th:href="@{/forms/date-time/con-datos}">Ejemplo de formulario con campos de texto y fechas, horas, y
                    fechas/horas. Con valores
                    iniciales.</a></li>
            <li>
                <a th:href="@{/}">Ejemplo de formulario con campos de texto y campos ocultos. Con valores iniciales
                    (pendiente).</a></li>
        </ul>
        <h2>Ejemplos relacionados con formularios con ficheros</h2>
        <p class="ps-3">Por seguridad, los campos file no pueden tener valor inicial para que
            no se pueda acceder a ficheros del cliente sin su intervención.</p>
        <ul>
            <li>
                <a th:href="@{/forms/file-upload/simple-single}">Ejemplo de formulario con campos de texto y un campo de
                    fichero, que se procesan sin DTO.</a>
            </li>
            <li>
                <a th:href="@{/forms/file-upload/simple-multiple}">Ejemplo de formulario con campos de texto y múltiples
                    campos
                    de fichero, que se procesan sin DTO.</a>
            </li>
            <li>
                <a th:href="@{/forms/file-upload/simple-multiple-attribute}">Ejemplo de formulario con campos de texto y
                    un campo
                    de fichero, con el atributo "multiple", que se procesan sin DTO.</a>
            </li>
            <li>
                <a th:href="@{/forms/file-upload/dto-single}">Ejemplo de formulario con campos de texto y
                    un campo de fichero, que se procesan con un DTO y que usa BindingResults.</a>
            </li>

            <li>
                <a th:href="@{/forms/file-upload/dto-multiple-attribute}">Ejemplo de formulario con campos de texto y
                    un campo de fichero, con el atributo "multiple" que se procesan con un DTO y que usa
                    BindingResults.</a>
            </li>
        </ul>

        <h2>Ejemplos relacionados con cookies</h2>
        <ul>
            <li>
                <a th:href="@{/cookies/set-cookie}">Formulario para fijar cookies con el nombre y valor arbitrarios (los
                    que se quieran).</a></li>
            <li>
                <a th:href="@{/cookies/get-cookie-value}">Página para leer el valor de una cookie específica, usando
                    @CookieValue en el controlador.</a></li>
            <li>
                <a th:href="@{/cookies/get-all-cookies}">Página para leer todas las cookies de la petición.</a></li>

        </ul>
        <h2>Ejemplos relacionados con sesiones</h2>
        <ul>
            <li>
                <a th:href="@{/sessions/register/step1}">Ejemplo de formulario con asistente de varios pasos que usa
                    sesiones para almacenar el modelo.</a></li>
        </ul>
    </div>

</div>


</body>
</html>
