<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ejemplos Spring Boot</title>
</head>
<body>
<h1>Ejemplos Spring Boot</h1>
<p>Ejemplos relacionados con mappings</p>
<ul>
    <li><a th:href="@{/mappings-01-restricciones}">Ejemplos de restricciones en mappings. Por cabecera, por expresión
        regular, etc.</a></li>
    <li><a th:href="@{/mappings-02-wildcards}">Ejemplos de uso de comodines (wildcards) en rutas. Uso de *, **, y
        {*variable}</a></li>
</ul>
<p>Ejemplos relacionados con redirecciones</p>
<ul>
    <li>
        <a th:href="@{/redirects}">Ejemplos de redirecciones usando "redirect:"</a>
    </li>
</ul>
</body>
</html>
