<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head('Subida de ficheros simple, sin DTO, con un solo fichero')}">
    <title>Subida de ficheros simple, sin DTO, con un solo fichero</title>
</head>
<body>
<div class="container">
    <header th:replace="~{fragments/fragments :: header}"></header>
    <div class="container">
        <h2>Subida de ficheros simple, sin DTO, con un solo fichero</h2>
        <p>
            En este formulario hay dos campos de texto, y uno de fichero. En el controlador los campos se procesan con
            @RequestParam.
        </p>
        <p>
            El campo para el fichero se procesa de forma independiente. Si hay varios campos de fichero, cada campo será
            un parámetro independiente en el controlador, siempre que tengan distinto nombre (atributo "name"). Para el
            caso en el que los campos de fichero tienen el mismo nombre, ver el ejemplo simple con varios campos de
            fichero.
        </p>
        <form th:method="post" enctype="multipart/form-data">
            <div class="alert alert-success" th:if="${successMessage}">
                <p th:text="${successMessage}">Mensaje</p>
            </div>
            <div class="alert alert-danger" th:if="${errorMessage}">
                <p th:text="${errorMessage}">Mensaje</p>
            </div>
            <div class="mb-3">
                <label for="first-name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="first-name" th:name="firstName" th:value="${firstName}">
            </div>
            <div class="mb-3">
                <label for="last-name" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="last-name" th:name="lastName" th:value="${lastName}">
            </div>
            <div class="mb-3">
                <label for="user-photo" class="form-label">Fotografía (debe ser png)</label>
                <input class="form-control" type="file" id="user-photo" name="userPhoto">
            </div>
            <button type="submit" class="btn btn-primary">Enviar el formulario</button>
        </form>
    </div>

</div>


</body>
</html>
