<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head('Formulario con checkboxes')}">
    <title>Formulario simple</title>
</head>
<body>
<div class="container">
    <header th:replace="~{fragments/fragments :: header}"></header>
    <div class="container">
        <h2>Formulario con múltiples checkboxes</h2>
        <form th:method="post" th:object="${person}">
            <div class="mb-3">
                <label for="dni" class="form-label">DNI</label>
                <input type="text" class="form-control" id="dni" th:field="*{dni}">
            </div>
            <div class="mb-3">
                <label for="first-name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="first-name" th:field="*{firstName}">
            </div>
            <div class="mb-3">
                <label for="last-name" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="last-name" th:field="*{lastName}">
            </div>
            <div class="mb-3">
                <fieldset class="form-group">
                    <legend class="col-form-label">Edad</legend>
                    <div class="form-check" th:each="hobby : ${hobbies}">
                        <input class="form-check-input" type="checkbox" id="hobby" th:id="|hobby-${hobby.hobbyId}|" th:field="*{hobbiesIds}" th:value="${hobby.hobbyId}">
                        <label class="form-check-label" for="hobby" th:for="|hobby-${hobby.hobbyId}|" th:text="${hobby.name}">Hobby</label>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="btn btn-primary">Enviar el formulario</button>
        </form>
    </div>

</div>


</body>
</html>
