<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head('Formulario simple')}">
    <title>Formulario simple</title>
</head>
<body>
<div class="container">
    <header th:replace="~{fragments/fragments :: header}"></header>
    <div class="container">
        <h2>Formulario simple</h2>
        <form th:method="post" th:object="${person}">
            <div class="mb-3">
                <label for="dni" class="form-label">DNI</label>
                <input type="text" class="form-control" id="dni" th:field="*{dni}">
            </div>
            <div class="mb-3">
                <label for="first-name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="first-name" th:field="*{firstName}">
            </div>
            <div class="mb-3">
                <label for="last-name" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="last-name" th:field="*{lastName}">
            </div>
            <div class="mb-3">
                <label for="birth-date" class="form-label">Fecha de nacimiento</label>
                <input type="date" class="form-control" id="birth-date" th:field="*{birthDate}">
            </div>
            <div class="mb-3">
                <label for="go-to-bed-time" class="form-label">Hora a la que te sueles acostar</label>
                <input type="time" class="form-control" id="go-to-bed-time" th:field="*{goToBedTime}">
            </div>
            <div class="mb-3">
                <label for="next-test-datetime" class="form-label">Día y hora de tu siguiente examen</label>
                <input type="datetime-local" class="form-control" id="next-test-datetime" th:field="*{nextTestDatetime}">
            </div>
            <button type="submit" class="btn btn-primary">Enviar el formulario</button>
        </form>
    </div>

</div>


</body>
</html>
